<h1 mat-dialog-title>{{titulo}}</h1>
<div mat-dialog-content>
  <form [formGroup]="fgAlumno" >
    <div fxLayout="row" fxLayoutGap="10px" class="formulario">
      <div fxLayout="column" fxLayoutGap="10px" class="columna">

        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="apellido" />
        </mat-form-field>

        <mat-radio-group class="sexo-radio-group" formControlName="sexo" >
          <mat-label class="sexo-radio-label">Sexo</mat-label>
          <mat-radio-button class="sexo-radio-button" [value]="1">Masculino</mat-radio-button>
          <mat-radio-button class="sexo-radio-button" [value]="2">Femenino</mat-radio-button>
        </mat-radio-group>

      </div>

      <div fxLayout="column" fxLayoutGap="10px" class="columna">

        <mat-form-field appearance="fill">
          <mat-label>Edad</mat-label>
          <input soloNumeros matInput formControlName="edad" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fecha inicia</mat-label>
          <input
            matInput
            formControlName="fechaInicio"
            [matDatepicker]="picker"
          />
          <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Curso</mat-label>
          <mat-select formControlName="cursoId">
            <mat-option *ngFor="let c of cursos" [value]="c.id">{{c.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button
    color="primary"
    style="margin-left: 8px"
    [disabled]="fgAlumno.invalid"
    (click)="aceptar()"
  >
    Aceptar
  </button>
</div>
