<div class="contendor">
  <p class="contenedorTitulo">{{titulo}}</p>

  <form [formGroup]="fgUsuario" class="contendorForm">
    <div fxLayout="row" fxLayoutGap="10px" class="formulario">
      <div fxLayout="column" fxLayoutGap="10px" class="columna">

        <mat-form-field appearance="fill">
          <mat-label>Correo</mat-label>
          <input matInput type="email" formControlName="email" autocomplete="off" />
          <mat-error *ngIf="errorHandling('email', 'pattern')">Email inválido.</mat-error>
          <mat-error *ngIf="errorHandling('email', 'required')">El eMail es requerido.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password" autocomplete="off" />
          <mat-error *ngIf="errorHandling('password', 'required')">La Contraseña es requerida.</mat-error>
          <mat-error *ngIf="errorHandling('password', 'pattern')">8 caracteres, mayúsculas, minúsculas, números y signos.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Confirmar contraseña</mat-label>
          <input matInput type="password" formControlName="pass2" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="fgUsuario.hasError('notSame')">Las Contraseñas no coinciden.</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayoutGap="10px" class="columna">

        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" autocomplete="off" />
          <mat-error *ngIf="errorHandling('nombre', 'required')">El Nombre es requerido.</mat-error>
        </mat-form-field>


          <mat-form-field appearance="fill">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="direccion" autocomplete="off" />
          </mat-form-field>


            <mat-form-field appearance="fill">
              <mat-label>Teléfono</mat-label>
              <input matInput formControlName="telefono" autocomplete="off" />
            </mat-form-field>

        <mat-checkbox formControlName="admin">Administrador</mat-checkbox>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="primary" style="margin-left: 8px" [disabled]="fgUsuario.invalid" (click)="aceptar()">
    Aceptar
  </button>
  <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
</div>
