/* You can add global styles to this file, and also import other style files */

html, body { min-height: 100vh;}
body { min-width: 400px; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.contenedorTitulo{
  font-size: x-large;
  font-weight: 500;
  margin: 20px 40px;
}

