<mat-toolbar>


  <div class="barra">
    <mat-icon class="menu" matTooltip="Menú" (click)="sidebarToggle()">menu</mat-icon>

    <div class="titulo">
      <mat-icon>school</mat-icon>
      <span>Freshman College</span>
    </div>

    <div class="box">
      <button mat-icon-button matTooltip="LogIn" (click)="login()">
        <mat-icon>input</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Registración" (click)="registracion()">
        <mat-icon>app_registration</mat-icon>
      </button>
      <button mat-icon-button matTooltip="LogOut" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Perfil">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
