
.contenedorMain{
  min-height: 100vh;
  margin: 20px 60px 40px 40px;
}




/* Spin Start*/

.back-loader {
  background-color:
rgba(0, 0, 0, .5);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100000 !important;
}

.frame-loader {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
}

  .frame-loader .spin-loader {
    border: 5px solid
#f3f3f3 !important;
    border-radius: 50%;
    border-top: 5px solid
#005eb8 !important;
    width: 100% !important;
    height: 100% !important;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Spin End*/

