<h1 mat-dialog-title>{{ titulo }}</h1>

<div mat-dialog-content class="margen">

  <div *ngFor="let alumno of alumnos" class="row">
    <div class="card tarjeta"
      [style.background-color]="alumno.sexo === 1 ? 'rgba(0, 0, 0, 0.15)' : 'rgba(0, 0, 0, 0.03)'">
      <div fxLayout="row" fxLayoutGap="10px">
        <div class="">
          <img src="{{alumno.foto}}" class="img-fluid foto" />
        </div>
        <div class="">
          <h3 class="card-title">{{ alumno.nombre | nombreCompleto: alumno.nombre:alumno.apellido | titlecase }}</h3>
          <div style="height: 6px;" *ngIf="alumno.edad < 30"></div>
          <p class="nota" *ngIf="alumno.edad >= 30">Alumno mayor.</p>
          <p><b>Edad: </b> {{ alumno.edad }}</p>
        </div>
      </div>
    </div>
  </div>

</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
</div>
